/* ? Generics */
body  {
    background-color: #B91450;
}

h1 {
    font-size: 38px;
    font-weight: 700;
}

/* Form */
form .input-form {
    text-align: center;
    width: 300px;
}

form label {
    font-weight: 500;
}

/* ! Main */
/* Sezione input ticket */
.card.input-ticket {
    padding: 20px 120px;
    border-radius: 15px;
    box-shadow: ;
}