/* ? Generics */
body  {
    background-image: url(/img/bg\ harry\ potter.jpg);
    background-position: top;
    background-size: 2100px;
}

img {
    width: 100%;
    display: inline;
}

h1 {
    font-size: 38px;
    font-weight: 700;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    margin-top: 120px;
}

h3 {
    font-weight: 700;
}

h4 {
    font-weight: 700;
}

h5 {
    font-weight: 700;
    margin-bottom: 50px;
}

/* Utilities */
.br-black {
    border-right: 2px solid black;
}

.fs-18 {
    font-size: 18px;
}

/* Form */
form .input-form {
    text-align: center;
    width: 300px;
}

form label {
    font-weight: 500;
}

/* ! Main */
/* Sezione input ticket */
.card.input-ticket {
    background-color: #C49F4E;;
    padding: 20px 120px;
    border-radius: 15px;
    position: relative;
}

.platform img {
    width: 100px;
    position: absolute;
    left: 18px;
    top: 72px;
}

/* Sezione biglietto stampato */
.card.ticket {
    background-color: #C49F4E;
    position: relative;
}

.img-barcode img {
    width: 250px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 20px;
}


.card.ticket .card-body {
    height: 150px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}